{% block field_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ops!</strong> something is wrong
            </div>
            {% for error in errors %}
                <p class="text-error">
                    {{
                        error.messagePluralization is null
                            ? error.messageTemplate|trans(error.messageParameters, 'validators')
                            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }} 
                </p>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock field_errors %}