{% extends '::base.html.twig' %}

{% block title_secondary %}fabsalito::blog{% endblock title_secondary%}

{% block blog_title %}fabsalito::blog{% endblock blog_title %}

{% block blog_tagline %}DTD1poco{% endblock blog_tagline %}

{% block sidebar %}
    <div class="span3">
        {{ render(controller('fabsalitoBlogBundle:Page:sidebar')) }}
    </div>
{% endblock %}