{% extends '::base.html.twig' %}

{% block title_secondary %}fabsalito::blog{% endblock title_secondary%}

{% block navigation %}
<ul class="nav">
    <li><a href="{{ path('fabsalito_blog_homepage') }}">Home</a></li>
    <li><a href="{{ path('fabsalito_blog_about') }}">About</a></li>
    <li><a href="{{ path('fabsalito_blog_contact') }}">Contacto</a></li>
</ul>
{% endblock navigation %}

{% block blog_title %}fabsalito::blog{% endblock blog_title %}

{% block blog_tagline %}DTD1poco{% endblock blog_tagline %}

{% block sidebar %}
    <div class="span3">
    #SIDEBAR#
    </div>
{% endblock %}