{% extends 'fabsalitoBlogBundle::layout.html.twig' %}

{% block title_primary %}About{% endblock title_primary %}

{% block body %}
<div class="span12">
    <legend>About fabsalito::blog</legend>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt quod culpa rerum doloribus esse quis nesciunt ad. Tenetur molestias minus est dicta incidunt quas aperiam in mollitia facilis error! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed odio provident? Ducimus sunt voluptatibus ullam ut laboriosam eligendi vitae a laborum illo quis quas aliquid ab provident modi dolorum dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis minus minima in reprehenderit ab ad nobis aliquam. Necessitatibus nisi pariatur odit porro voluptates facere magnam itaque cum eaque earum magni! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe commodi aperiam quas enim labore non vero sint voluptate adipisci dolor modi autem libero dolore debitis a doloremque quia perspiciatis alias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio assumenda at esse repellendus provident saepe unde voluptas quis molestias adipisci! Alias mollitia placeat cumque aspernatur molestiae iusto non ipsa deserunt.
    </p>
</div>
{% endblock %}

{% block sidebar %}

{% endblock sidebar %}