{% extends 'fabsalitoBlogBundle::layout.html.twig' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="span9">
    #INDEX_CONTENT#
</div>    
{% endblock body %}

{% block sidebar %}
{{ parent() }}
{% endblock sidebar %}