{% extends 'fabsalitoBlogBundle::layout.html.twig' %}

{% block title_primary %}Home{% endblock title_primary %}

{% block body %}
<div class="span9">
    #INDEX_CONTENT#
</div>    
{% endblock body %}

{% block sidebar %}
{{ parent() }}
{% endblock sidebar %}