.sidebar{

}

.sidebar .cloud-tag{
    /*color: #0088cc;*/
    color: #006dcc;
    word-spacing: 10px;
}

.sidebar .cloud-weight-1{
    font-size: 12px;
}
.sidebar .cloud-weight-2{
    font-size: 15px;    
}
.sidebar .cloud-weight-3{
    font-size: 18px;    
}
.sidebar .cloud-weight-4{
    font-size: 21px;    
}
.sidebar .cloud-weight-5{
    font-size: 24px;    
}
